@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
        <div>
            <strong>Cookie Consent and privacy policy</strong>
            <p>
                This website uses cookies to ensure you get the best experience on our website. By accepting you consent to the use of cookies and the privacy policy.
            </p>
            <p>
                The cookie policy. <a asp-action="Cookie">Learn More</a>.
            </p>
            <p>
                The privacy policy. <a asp-action="Privacy">Learn More</a>.
            </p>
        </div>
        <button type="button" class="accept-policy close btn btn-info" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            <span aria-hidden="true">Accept</span>
        </button>
        <button type="button" class="reject-policy close btn btn-danger" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            <span aria-hidden="true">Reject</span>
        </button>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
                console.log(document.cookie);
                var cookieContainer = document.querySelector("#cookieConsent");
                cookieContainer.remove();
            }, false);

            var rejectButton = document.querySelector("#cookieConsent button.reject-policy");
            rejectButton.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
                console.log(document.cookie);
                var cookieContainer = document.querySelector("#cookieConsent");
                cookieContainer.remove();
            }, false);
            
        })();
    </script>
}